* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.im1 {
    width: 10px;
     margin-top: 28px;
     margin-right: 15px;   

}
.im2 {
    width: 10px;
    margin-top: 28px;
    margin-right: 15px;
}
.im3 {
    width: 10px;
    margin-top: 28px;
    margin-right: 0px;
}
.im4 {
    width: 10px;
    margin-top: 28px;
    margin-right: 15px;
}

.media {
    width:550px;
    height: 60px;
    margin: 5rem auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.icon-box {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 2px 5px 4px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.icon-box img {
    width: 50px;
    transition: all 0.5s;

}

.icon-box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: green;
    border-radius: 50px;
    top: -100px;
    right: -80px;
  }
  

  .icon-box:hover::before {
    animation: MoveToBottom 1s forwards;
  }
  
  

.icon-box:hover{
    color: #FFF;
    transform: scale(1.1);
    width: 100px;
}

@keyframes MoveToBottom{
    0%{
        top: -100px;
        right: -80px;
    }
    70%{
        top: 20px;
        right: 20px;
    }
    100%{
        top: 0;
        right: 0;
    }
}