



  

  div {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    animation: behnam 10s infinite;

  }
  @keyframes behnam {
    0%{left:0px ; top:0px; }
    25%{left:300px ; top:0px; }
    50%{left:300px ; top:200px;  }
    75%{left:0px ; top:200px; }
    100%{ left:0px ; top:0px; }
  }
  
  
  
  
  
  