
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
}
 body {
    margin: 0px;
    padding: 0px;
    margin-top: -142px;
 }

div {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.container {
    background-color: white;
    height: 120px;
    /* border: 1px solid black; */
    margin-top: 204px;
    margin-left: 60px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    width: 1172px;
}

.con1 {
    /* background-color: chartreuse; */
    /* width: 100px; */
    height: 60px;
    margin: 0;
    margin-top: 90px;
    margin-right: 25px;
    
}

.a1 {
    color: blue;
}

.svg {
    display: flex;
    height: 20px;
    width: 39px;
    color: blue;
    margin-left: 7px;
}

.con2 {
    /* background-color: blueviolet; */
    /* width: 100px; */
    height: 60px;
    margin: 0;
    margin-top: 90px;
    /* justify-content: space-between; */
    /* margin-right: -15px; */
    
}



 .imgj {
    
        width: 210px;
        height: 150px;
        position: relative;
        text-decoration: none;
        margin-left: 29px;
    
 }

 .img1 {
    width: 210px;
    height: 150px;
    position: relative;
 }
 .img2 {
    width: 210px;
    height: 150px;
    position: relative;
 }
 .imgg {
    width: 210px;
    height: 150px;
    position: relative;
 }

 .img3 {
    width: 210px;
    height: 150px;
    position: relative;
 }

 .a2 {
    display: block;
    box-sizing: border-box;
    margin-top: 170px;
    font-size: 100%;
    position: absolute;
    text-align: left;
    color: black;
 }

 .a22 {
    color: black;
 }

 .a3 {
    display: block;
    box-sizing: border-box;
    margin-top: 170px;
    font-size: 100%;
    position: absolute;
    text-align: left;
    color: black;
 }
 .a4 {
    display: block;
    box-sizing: border-box;
    margin-top: 24px;
    font-size: 100%;
    position: absolute;
    text-align: left;
    color: black;
    margin-left: 15px;
 }
 .a44 {
    color: black;
 }
 .a5 {
    display: block;
    box-sizing: border-box;
    margin-top: 188px;
    font-size: 100%;
    position: absolute;
    text-align: left;
    color: black;
    margin-left: 15px;
    display: inline-block;
 }
 .a55 {
    color: black;
 }

 .a33 {
    color: black;
 }

 .h1 {
    text-decoration: line-through;
    margin-top: 240px;
    font-size: 8px;
    position: absolute;
    display: inline;
 }

 .h11 {
    text-decoration: line-through;
    margin-top: 38px;
    font-size: 8px;
    position: absolute;
    display: block;
 }
 .hp {
    text-decoration: line-through;
    margin-top: 255px;
    font-size: 8px;
    position: absolute;
    display: inline-block;
    margin-left: -223px;

 }
 .hd {
    text-decoration: line-through;
    margin-top: 55px;
    font-size: 8px;
    position: absolute;
    display: inline-block;
    margin-left: -169px;
 }
 .p1 {
    background-color: aqua;
    font-size: 13px;
    margin-left: 45px;
    position: absolute;
    margin-top: 240px;
    display: inline;
 }
.p2 {
    background-color: aqua;
    font-size: 13px;
    margin-left: 45px;
    position: absolute;
    margin-top: 40px;
    display: block;
}
.p3 {
    background-color: aqua;
    font-size: 13px;
    margin-left: 45px;
    position: absolute;
    margin-top: -18px;
    display: block;
}

.p4 {
    background-color: aqua;
    font-size: 13px;
    margin-left: 45px;
    position: absolute;
    margin-top: -18px;
    display: block;
}
 .pr {
    width: 200px;
    height: 35px;
    margin-top: 260px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
 }

 .pr1 {
    width: 200px;
    height: 35px;
    margin-top: 58px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
 }

 .price{
    margin-left: 0px;
    margin-top: 4px;
 }
 .price1 {
    margin-left: 0px;
    margin-top: 4px;
 }
.price2 {
    width: 30px;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    margin-top: 3px;
}
.price3 {
    width: 30px;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    margin-top: 0px;
}
 .star {
    color: yellow;
    display: block;
    width: 25px;
    margin-left: 200px;
    position: inherit;

 }

 .star1{
    color: yellow;
    display: block;
    width: 25px;
    margin-left: 200px;
    position: inherit;
 }
 .star2 {
    color: yellow;
    display: block;
    width: 25px;
    margin-left: 200px;
    position: inherit;
    display: inline-block;
 }
 .star3 {
    color: yellow;
    display: block;
    width: 25px;
    margin-left: 187px;
    position: inherit;
    display: inline-block;
    margin-top: -4px;
 }

 .mark {
    position: inherit;
    margin-left: 176px;
    font-size: 17px;
    margin-top: 4px;
 }

 .mark1 {
    position: inherit;
    margin-left: 176px;
    font-size: 17px;
    margin-top: 4px;
 }
 .mark2 {
    position: inherit;
    margin-left: 176px;
    font-size: 17px;
    margin-top: 4px;
    display: inline-block;
 }
 .mark3 {
    position: inherit;
    margin-left: 176px;
    font-size: 17px;
    margin-top: 0px;
    display: inline-block;
 }
 .img {
    position: inherit;
    margin-left: 176px;
    font-size: 17px;
    margin-top: 4px;
 }

.flex {
    width: 280px;
    height: 300px;
    margin: 10px;
    padding: 1px;
    flex-flow: wrap;
    /* border: 1px solid black; */
    /* line-height: 190px; */
    text-align: center;
    border-radius: 11px;
    text-decoration: none;
    box-shadow:  3px 0px 5px rgba(0, 0, 0, 0.5);

}


 .flex1 {
    width: 280px;
    height: 300px;
    margin: 10px;
    padding: 1px;
    flex-flow: wrap;
    /* border: 1px solid black; */
    border-radius: 1px;
    border-radius: 11px;
    box-shadow:  3px 0px 5px rgba(0, 0, 0, 0.5);

 }

 .flex2 {
    width: 280px;
    height: 300px;
    margin: 10px;
    padding: 1px;
    flex-flow: wrap;
    /* border: 1px solid black; */
    border-radius: 11px;
    box-shadow:  3px 0px 5px rgba(0, 0, 0, 0.5);

 }

 .flex3 {
    width: 280px;
    height: 300px;
    margin: 10px;
    padding: 1px;
    flex-flow: wrap;
    /* border: 1px solid black; */
    border-radius: 11px;
    margin-right: 133px;
    box-shadow:  3px 0px 5px rgba(0, 0, 0, 0.5);

 }