body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
   
    
}

/* element */
p{
    color: brown;
}

/* id */
#mytext{
    color: blue;
}

/* class */
.caption{
    color: chartreuse;
}

/* all elements */
*{
font: small-caption;}

/* gruping */
h1, h2 {
    font-family: fantasy;
    color: orange;
}

/* element element */
.mysection .content-1{
    color: slategray;
}
/* element > element */
.mysection  > div {
    border: solid red;
}

/* element 1 + element 2  */
h2 + p {
    font-weight: bold;
}

/* element 1 ~ element 2 */
/* h2 ~ p { */
    {font-weight: bold;
}